{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": [2],
    "import/prefer-default-export": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/default-props-match-prop-types": [0],
    "jsx-a11y/anchor-is-valid": [0]
  }
}
